.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Kurale', serif;
    font-size: 1rem;
    background-color: var(--blue);
    border: 0.0625rem solid transparent;
    color: #fff;
    padding: 0.3125rem 0.9375rem;
    border-radius: 0.3125rem;
    min-height: 1.875rem;
    transition: background-color .5s ease, color .5s ease, border-color .5s ease;
}

.btn:hover {
    background-color: #fff;
    border-color: var(--blue);
    color: var(--blue);
}