.products {
    padding: 1.875rem 0 0 0;
}

.products__title {
    margin-bottom: 0.9375rem;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin: -0.625rem;
}

.products__item {
    flex: 1 0 25%;
    padding: 0.625rem;
}