.nav {
    font-family: "Kurale",serif;
    font-size: 1.125rem;
    background-color: var(--blue);
    line-height: 1.3;
    color: #fff;
    padding: 1.5625rem 2.5rem 1.5625rem 0.625rem;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.nav__link {
    padding: 0.625rem 1.875rem;
    cursor: pointer;
    transition: background-color .5s ease, color .5s ease;
}

.nav__link[href]:hover {
    color: var(--yellow);
}

.nav__link.active {
    color: var(--yellow);
}