.main-slider {
    color: #fff;
    background-color: var(--light-blue);
}

.main-slider__item {
    background-image: url(./slider-back.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 28.125rem;
    padding: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-slider__wrapper {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.main-slider__title {
    font-family: 'Kurale', serif;
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
}

.main-slider__content {
    text-align: center;
}

.main-slider__info {
    line-height: 1.5;
    margin-bottom: 1.875rem;
}

.main-slider__info p:not(:last-child) {
    margin-bottom: 0.625rem;
}

.main-slider__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 330px;
    padding: 0.9375rem;
    width: 20.625rem;
    height: 20.625rem;
    background-color: #fff;
    border: 0.1875rem solid var(--blue);
    position: relative;
}

.main-slider__img img {
    height: 16.875rem;
    object-fit: contain;
}

.main-slider__img::before {
    content: '';
    position: absolute;
    background-image: url(./new.svg);
    background-repeat: no-repeat;
    width: 5rem;
    height: 5rem;
    top: -1.25rem;
    left: -0.9375rem;
}